body,
html {
  display: grid;
  height: 100%;
  margin: 0;
  place-items: center;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template: 90px 90px 90px 90px 90px 90px 90px 90px / 300px 300px 300px 300px;
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-area: 1 / 1 / 1 / 5;

}

.sidebar {
  background-color: #005B94;
  grid-area: 2 / 1 / -2;
}

.nav {
  background-color: #642cde;
  grid-area: 2 / 2 / 2 / -1;
}

.article {
  background-color: #7E1DC3;
  grid-area: 3 / 2 / -2 / -1;
}

.footer {
  background-color: #393f4d;
  grid-area: 8 / 1 / 8 / -1
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}